@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}


.App-Body {
  background-color: #2d2d2d;
}

.App-header-container {
  display: flex;
  text-align: center;
  justify-content: center;
}

.App-header {
  background-color: #2d2d2d;
  text-align: center;
  height: 150px;
  padding: 15px 10px 0px 40px;
  color: white;
}
.App-header img {
  width: 40px;
  height: 40px;
}

.App-title {
  font-size: 40px;
}
.App-subtitle { font-size: 25px; padding: 0;}

.App-intro {
  font-size: large;
}

.Bar{
  width: 60%;
  margin: 40px auto;
  border: 1px solid #eee;
  padding: 16px;
  padding-left: 40px;
}

.Result-container {
  display: flex;
  flex-direction: row;
  margin: 20px auto;
}

.MovieResult-container, .NominatedMovies-container{
  width: 30%;
  height: auto;
  margin: 20px auto;
  background-color:#4b4b4b;
  color: white;
  padding: 10px 40px;
  text-align: left;
}
.NominatedMovies-container{margin-left: 0;}


.Nominate-btn, .RemoveNomination-btn {
  border: 1px solid #eee;
  padding: 5px 15px 5px 15px;
  margin: 3px 0px 3px 15px;
  position: relative;
}

.RemoveNomination-btn {background-color: #ff6347 ; color:white; border:1px solid #ff6347;}

.Nominated-movies {
  height: 175px;
}

.NominationInfo-Banner {
  text-align: center;
  text-align: center;
  background-color: #00CC99;
  color: white;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.Banner-container {
  float: left;
  width: 100%;
  bottom: 0;
  color: white;
  padding: 20px;
  
}